.Header {
    color: white;
    display: flex;
    gap: 20px;
    align-items: center;
}

.brand {
    padding: 20px;
}

.brand span {
    padding: 5px;
    background-color: var(--blue-4);
    border-radius: 10px;
    margin: 5px;
    color: var(--black);
}